* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  --main-light: rgb(241, 241, 241);
  --main-dark: rgb(47, 47, 47);
  --shadow-dark: rgb(71, 71, 71);
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
